<div style="float: {{ include.align | default: 'center' }};">
    <figure>
        {% if include.link != null %}<a href="{{ include.link }}">{% endif %}
        <img class="featured-img" src="{{ site.baseurl }}/assets/images/{{ include.image }}"
          alt="{{ include.alt | default: 'no description' }}" width="{{ include.width }}" height="{{ include.height }}"/>
        {% if include.link != null %}</a>{% endif %}
        {% if include.cap != null %}
            <figcaption class="images-caption">{{ include.cap }}</figcaption>
        {% endif %}
    </figure>
</div>