<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item" style="margin-left: auto; margin-right: auto;">
    <img src="/assets/images/jhoward-stacks.png" alt="Me at the 2017 Howard County Library Evening in the Stacks" width="200px" />
  </div>

  <nav class="sidebar-nav">
    {% assign pages_list = site.pages | sort:"menu-order" %}
    {% for node in pages_list %}
      {% if node.menu-label != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.menu-label }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 1997&mdash;{{ site.time | date: '%Y' }} James P. Howard, II
    </p>
  </div>

  <nav class="sidebar-nav"></nav>
  {% assign pages_list = site.pages | sort:"menux-order" %}
  {% for node in pages_list %}
    {% if node.menu2-label != null %}
      {% if node.layout == "page" %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.menu2-label }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  </nav>

</div>
